.buttonPrimary {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--gray);
    background: var(--white);
    cursor: pointer;

    font-family: var(--font-poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: var(--dark-green);

    &:hover {
        background: var(--light-gray);
    }

    &:active {
        background-color: var(--light-gray);
    }

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}

.buttonAction {
    display: flex;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background: var(--dark-green);
    cursor: pointer;
    width: 100%;

    font-family: var(--font-poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: var(--white);

    &:hover {
        background: var(--green);
    }

    &:active {
        background-color: var(--green);
    }
    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}