.container {
  min-height: 100vh;
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.buttonWrapper {
  display: flex;
}

.dumlingNameWrapper {
  margin-top: -8px;
  margin-bottom: 8px;
}

.accordionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.servingWrapper li {
margin-top: -35px;
}