.container {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.buttonWrapper {
  display: flex;
}

.dumlingNameWrapper {
  margin-top: -8px;
  margin-bottom: 8px;
}

.accordionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.myDumplingsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  margin-bottom: 8px;
}

.publicDumpling {
  cursor: pointer;
}

.loader {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-family: var(--font-poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--dark-green);
}