.sectionTitle {
    color: var(--Dark-green, #002902);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-top: 16px;
  }
  
  .sectionItems {
    color: var(--Dark-green, #002902);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
  }