@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
--light-cake: #ffe5b2;
--dark-cake: #face90;
--dark-green: #002902;
--dark-gray: #969696;
--gray: #d6d6d6;
--light-gray: #e8e8e8;
--bg-gray: #f9f9f9;
--white: #ffffff;
--green: #004b03;
}

html {
  font-family: var(--font-poppins), sans-serif;
}

body {
  background-color: var(--bg-gray);
  display: flex;
  justify-content: center;
  background: #e2eaf1;
}

.h1 {
  font-family: var(--font-barrio);
  font-weight: 400;
  font-size: 42px;
  line-height: 34px;
}

.h2 {
  font-family: var(--font-barriecito);
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: var(--green)
}

.h3 {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.body {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}